.footer {
    grid-area: footer;
    display: grid;
    margin-top: 3rem;
    padding: 1rem 0;
    background-color: #37454f; 
}

.footer__media {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); 
}

.footer__media > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px; 
    transition: all .5s;
}

.footer__media > a:nth-child(1):hover {
    background-color: #6e5494; 
}

.footer__media > a:nth-child(2):hover {
    background-color: #3b5998; 
}

.footer__media > a:nth-child(3):hover {
    background-color: #fccc63; 
}

.icon {
    color: white;
    font-size: 3rem;
}
