/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 0 35px #eee;
}

@media (max-width: 882px) {
  header .logo {
    min-width: 115px;
    flex: none;
  }

  header ul {
    padding: 10px 0;
  }
}

@media (max-width: 725px) { 
  header {
    justify-content: space-between;
  }
  header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }

  header .menu {
    display: block;
    cursor: pointer;
  }

  header ul .menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 693px) { 
  .filter-menu input {
    margin: 0;
  }

  .filter-menu .sort {
    flex: 1;
  }

  .filter-menu .sort select,
  .filter-menu .sort select option {
    width: 100%;
    min-width: 290px;
    margin: 5px 0;
  }

  .filter-menu .row span {
    display: none;
  }
}


@media (max-width: 600px) { 
  .App {
    padding: 0 10px;
  }

  .detail {
    font-size: 100%;
    padding: 0;
  }
}